body{
  font-family: arial;
  margin: 0px;
   background-color: #e6e6e6;
}


/*  boton
 *  ==========================================================================
 */

/* Etiqueta <button> */

.boton{
  background-color: #00638a;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  transition-duration: 300ms;

}



.boton:hover{
  background-color: #2b8fc8;
  transition-duration: 300ms;
}

.boton:active{
  background-color: #1f6790;
  transition-duration: 300ms;
}

/* Etiqueta <a href...> */

.boton_link{
  background-color: #00638a;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  transition-duration: 300ms;

}

.boton_link:hover{
  background-color: #2b8fc8;
  transition-duration: 300ms;
}

.boton_link:active{
  background-color: #1f6790;
  transition-duration: 300ms;
}







/*  input text
 *  ==========================================================================
 */


.input_text{
  outline: none;
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  transition-duration: 300ms;
}

.input_text:focus{
  box-shadow: 0px 0px 2px #00638a;

}





/*  contenedor
 *  ==========================================================================
 */



 .contenedor{
   width: 1000px;
   min-height: 350px;
   left: 50%;
   margin-left: -500px;
   background-color: #e6e6e6;
   position: relative;
   height:100%;
  
  
 }


 /*  cabecera
  *  ==========================================================================
  */


.cabecera{
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #00638a;
  z-index: 100;
  top: 0px;
  box-shadow: 0px 0px 10px #3d3d3d;
}

.logo_index{
	top: 0px;
	height: 70px;
	position: relative;

}
.logo{
	top: 0px;
	height: 200px;
	position: relative;
	}

.nom_colegio{
  top: 1px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  float: left;
  left: 50%;
  margin-left: -146px;
   font-family: 'Ubuntu', sans-serif;
}

.nom_sistema{
  top: 29px;
  font-size: 15px;
  font-weight: normal;
  color: white;
  position: absolute;
  float: left;
  left: 50%;
  margin-left: -110px;
  font-family: 'Ubuntu', sans-serif;
}

 /* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v9/MLKvhAbswThSVACnSTWCpxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v9/IiMFELcoPB-OzGzq14k4ehJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v9/H2j4_4xA-HIuoc_A3BIwVBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v9/EtSRPnpS3nIR-zKYiR-sDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v9/gMhvhm-nVj1086DvGgmzBxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v9/OsJ2DjdpjqFRVUSto6IffFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
 